.margin-bottom-20 {
	margin-bottom: 20px;
}

header.masthead {
	background-image: url('../img/participantes/banda.jpg');
}

#mainNav .navbar-nav>li.nav-item>a.nav-link, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus{
	color: #333 !important;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link:hover, #mainNav .navbar-nav>li.nav-item>a.nav-link:hover {
	background: #f05f40;
	color: white !important;
	border-radius: 10px;
}

.social-media {
	margin-top: 40px;
}